<html>
    <head>
        <title>Home</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <!--logo--> 
        <img src="../img/logo.gif" id="logo" class="rounded mx-auto d-block" alt="...">

        
            <div class="container ">
                <div class="row">
                    <!-- Card 1 -->
                    <div class="container col-md-4 col-lg-4 mt-4">

                        <div class="card">
                            <img class="card-img-top w-100 h-75" src="../img/Techno.png" alt="#">
                            <div class="card-body">
                            <h2 class="card-title text-center">Technology </h2>
                            <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
                            </div>
                        </div>
                    </div>

                    <!-- Card 2 -->
                    <div class="container col-md-4 col-lg-4 mt-4">
                        <div class="card">
                            <img class="card-img-top w-100 h-75" src="../img/FRU.jpg" alt="#">
                            <div class="card-body">
                            <h2 class="card-title text-center">Fruits</h2>
                            <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
                            </div>
                        </div>
                    </div>

                <!-- Reading More Ryon From Dtabase -->
                <% for (const product of products){%>
                  <div class="container col-md-4 col-lg-4 mt-4">
                      <a href="ryon/<%= product.id %>" class="h-75 text-decoration-none">
                        <div class="card">
                            <img class="card-img-top w-100 h-100" src="<%= product.image%>" alt="#">
                            <div class="d-flex card-body">
                                <a href="/editRyon/<%= product.id %>" class="col"><button class="col btn btn-outline-primary p-2">Edit</button></a>
                                <h2 class="col card-title text-center text-muted"><%= product.name%></h2>
                                <a href="/deleteRyon/<%= product.id %>" class="col"><button class="col btn btn-outline-danger p-2">Delete</button></a>
                            </div>
                        </div>
                      </a>
                    </div>
                <%}%>
                                        
                </div><br><br>
                <form class="container" action="/newRyon" method="POST">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Ryon Name</label>
                      <input type="text" class="form-control" name="name" id="name" placeholder="Enter ryon name"  aria-describedby="emailHelp">
                      
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">image URL</label>
                        <input type="text" class="form-control" name="image" id="picture" placeholder="Enter image of ryon" aria-describedby="emailHelp">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                  </form>
            </div>
            
            <script src="../js/home.js"></script>
    </body>
</html>